<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>TDS SAFETY</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/girl_vector.png" type="img/png">
</head>

<body>
    {{>navbar}}

    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <nav class="navbar navbar-expand-lg  ">
                    <a class="navbar-brand" href="#"><i class="far fa-snowflake-o" aria-hidden="false"></i>TDS SAFETY
                        <i class="far fa-snow-flake-o" aria-hidden="false"></i></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="weather">Download Now </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="about">About</a>
                            </li>


                        </ul>

                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!-- main header  -->
<div >
    <center>
    <h2>Welocme To TDS SAFETY Website</h2>
    <p style="font-size: large;"><br><b>Please follow the instructions before using the app else the app will not work </b></br></p>
        <p style="font-size: large;"><br><b>Feel Safe And Be Safe With Us </b></br></p>

            <img style="height: 100dp;" width="100dp" src="img/girl_vector.png">



<ol>

    <br style="font-size: medium;">1. on the location for 1 mintue before using the app</br>
    <br style="font-size: medium;">2. Remember do not turn off the location while using the app</br>
    <br style="font-size: medium;">3.Register the emergency phone no.</br>
    <br style="font-size: medium;">4.Always maintain working internet connection</br>
    <br style="font-size: medium;">5.Shake your phone 3 to 4 times to send the live location</br>

</ol>
    <h2 style="margin-top: 2%;"><a href="https://www.mediafire.com/file/zi8zsfuy7g2p53e/tds-safety.apk/file">Click To Download</a></h2>
    
</center>

</div>


    <!-- footer code  -->
    {{>footer}}
</body>

</html>